.featured-image-block-grid {
  margin-bottom: 200px;
}

.featured-image-block-grid-header {
  margin-left: 6.8%;
  margin-right: auto;
  padding-bottom: 50px;
}

.featured-image-block {
  margin-bottom: 20px;
}

.featured-image-block .featured-image-block-title {
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: #404040;
}

.featured-image-block a:hover p {
  color: #1779ba;
}

.column {
  text-align: center;
}

#animate1 {
  animation-duration: 2s;
}

#animate2 {
  animation-duration: 3s;
}

#animate3 {
  animation-duration: 4s;
  
}

#animate4 {
  animation-duration: 5s;

}

